.env
.venv
__pycache__/
commands/__pycache__/
adaos.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
/.adaos/
/.adaos_*/
.adaos_1
!.adaos/
.adaos/logs/
.adaos/root_logs/
.adaos/models/
.adaos/subnet_ctx.json
.adaos/skill_db.sqlite
.adaos/node.yaml
.adaos/route_rules.yaml
.adaos/state/
.adaos/skills/.runtime/
.adaos/skills/
.adaos/keys/
.adaos/dev/
.adaos/cache/
!.adaos/workspace/
.adaos/workspace/*
!.adaos/workspace/skills/
!.adaos/workspace/skills/infrastate_skill/
!.adaos/workspace/skills/infrastate_skill/**
.adaos/workspace/skills/**/.skill_env.json
src/adaos/integrations/inimatic/backend/ssl/adaos_root
src/adaos/integrations/inimatic/backend/ssl/adaos_root.pub
src/adaos/integrations/inimatic/backend/ssl/ca.crt
src/adaos/integrations/inimatic/backend/ssl/ca.key
src/adaos/integrations/inimatic/backend/node_modules/
src/adaos/integrations/inimatic/backend/dist/
ystore.db
ystore.db-journal
.adaos/diagnostics
.gitignore
.adaos/root_log_snapshots/.adaos/join_codes.json
.adaos/join_codes.json
