.error_message {
	color: var(--ion-color-danger);
	margin-top: 12px;
	text-align: center;
	font-size: 14px;
	position: absolute;
	top: -30px;
}

.login_wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 45%;
	transform: translateY(-50%);
}

.login_form {
	max-width: 195px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 20px;
	position: relative;
}

ion-button {
	width: 100%;
}
